
<div class="container">
        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <div class="jumbotron">
        
        <h1 class="display-4">
            <img src="./assets/images/transparentGoose2.png" alt="goose" style="width: 10%; height:10%">
            NewsGoose
        </h1>
        <p class="lead">Welcome to NewsGoose! Read cool onion articles and keep notes!</p>
    </div>

    <h2>The Articles Page</h2>
    <ul>
        {{#each articles}}
        <div class="card" style="width: 36rem;">
            <img class="card-img-top" src={{imageLink}} alt="Card image cap">
            <div class="card-body">
                <a href={{link}}>
                    <h5 class="card-title">{{headline}}</h5>
                </a>
                <p class="card-text">{{snippet}}</p>
                <a href="#" class="btn btn-primary">Make a Note</a>
            </div>
        </div>
        {{/each}}
    </ul>



</div>