<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <div class="jumbotron">
        
        <h1 class="display-4">
            <img src="./assets/images/transparentGoose2.png" alt="goose" style="width: 10%; height:10%">
            NewsGoose
        </h1>
        <p class="lead">Welcome to NewsGoose! Read cool onion articles and keep notes!</p>
        <hr class="my-4">
        <p>click here to scrape for articles</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" id="scrape-button" role="button">Scrape</a>
        </p>
    </div>
</div>